/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* font style */
@font-face {
  font-family: Prey;
  src: url(agency-fb/AGENCYR.TTF); }

/* main body and side-nav */
body {
  background-color: #db4658; }

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ca46db;
  overflow-x: hidden;
  padding-top: 20px; }

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block; }

.sidenav a:hover {
  color: #f1f1f1; }

.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */ }

.button {
  width: 170px;
  padding: 10px;
  height: auto;
  display: inline-block;
  border-radius: 25px;
  background-color: #46dbca;
  margin: 0.8% 12% 2% 12%;
  left: 10%;
  position: relative;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

.button:hover {
  opacity: 0.7;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  background-color: #4658db; }

.icon {
  width: 170px;
  height: auto; }

#user {
  width: 200px; }

#user-icon {
  width: 150px; }

.sidebuttons {
  border-radius: 25px;
  border-color: #46dbca;
  background-color: #46dbca;
  padding: 5px;
  width: 25px; }

.sidebuttons:hover {
  background-color: #4658db;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }

#sign-in {
  width: 150px;
  right: 50px; }

#chartContainerLive {
  height: 350px;
  width: 85%;
  z-index: 1;
  position: relative;
  left: 200px; }

#swap {
  border-radius: 25px;
  border-color: #46dbca;
  background-color: #46dbca;
  padding: 5px;
  width: 95px;
  top: 60%; }

#swapbtn:hover {
  background-color: #4658db;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s; }
