@import url(skeleton.css);
@import url(skeleton.css);
@import url(skeleton.css);
@import url(skeleton.css);
@import url(skeleton.css);
@import url(skeleton.css);
@import url(skeleton.css);
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .sidenav a:hover {
    color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

/* switch for theme */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .sidenav a:hover {
    color: #f1f1f1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

/*message page*/
#text {
  width: 45%;
  font-size: 16px;
  margin-left: 500px;
  max-height: 250px;
  overflow: hidden;
  position: relative;
  right: -6%;
  top: -200px;
  /*transition time*/
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  -o-transition: max-height 0.7s;
  transition: max-height 0.7s; }

#text.open1 {
  max-height: 1000px;
  /*transition time*/
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  -o-transition: max-height 0.7s;
  transition: max-height 0.7s; }

.expand {
  font-size: 75px;
  text-decoration: none;
  position: relative;
  color: #ffa500;
  left: 100px;
  margin-right: 100px;
  margin-bottom: 100px; }

#text2 {
  width: 45%;
  font-size: 16px;
  margin-left: 500px;
  max-height: 250px;
  overflow: hidden;
  position: relative;
  right: -6%;
  top: -200px;
  /*transition time*/
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  -o-transition: max-height 0.7s;
  transition: max-height 0.7s; }

#text2.open2 {
  max-height: 1000px;
  /*transition time*/
  -webkit-transition: max-height 0.7s;
  -moz-transition: max-height 0.7s;
  -o-transition: max-height 0.7s;
  transition: max-height 0.7s; }

#file-text {
  font-size: 1.5em;
  margin: 7% 0 6% 33%;
  text-decoration: none;
  text-transform: capitalize; }

#myChart {
  width: 645px;
  height: 645px; }

/* font style */
@font-face {
  font-family: Prey;
  src: url(agency-fb/AGENCYR.TTF); }

/* main body and side-nav */
body {
  background-color: #d8d8d8;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s; }

#main {
  -webkit-transition: margin-left .5s;
  -o-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 16px; }
  #main span {
    top: 0;
    left: 0; }
  #main #mail {
    width: 15%;
    height: auto;
    margin-left: 125px;
    margin-right: 25px; }
  #main .num {
    font-size: 5em;
    left: 0;
    padding-right: 8%;
    padding-left: 5.5%;
    padding-top: 30px;
    padding-bottom: 0px;
    height: auto;
    display: inline-block;
    bottom: 0;
    margin-left: 125px;
    margin-right: 25px; }
  #main #title {
    font-size: 2em;
    left: 0;
    height: auto;
    display: inline-block;
    padding-right: 10%;
    padding-left: 12%;
    top: 0; }

.font {
  font-family: Prey; }

#title2 {
  font-size: 2em;
  left: 0;
  height: auto;
  display: inline-block;
  padding-left: 4%;
  top: 0; }
